/*Design decoration of control panel*/

/*Font of labels and buttons*/
h4,.btn{color:#555;}
/*Decoration of searchfield*/
.inputword{max-width:189px;min-width:182px;}
/*Decoration of class and lesson buttons*/
#lesson label span{vertical-align: bottom;line-height:normal;}
#lesson label input{vertical-align: top;}
/*Decoration of courses list buttons for lesson*/
#course1,#course2,#course3,#course4,#course5,#course6{display:none;}
/*All other in control panel*/
#course,#englishalphabet{width:90%;}
#lesson,#russianalphabet {width:90%;left:-85px;}
#course ul,#lesson ul,#englishalphabet ul,#russianalphabet ul{list-style:none;clear:both;margin:auto;padding: 7px;}
#course ul li,#lesson ul li,#englishalphabet ul li,#russianalphabet ul li{float:left;padding: 2px;}
#course ul li a,#lesson ul li a,#englishalphabet ul li a,#russianalphabet ul li a{color:#fff;font-weight:bold;padding: 0;width: 20px;}
div#lesbut {margin-left:8px;}
/*Design and decoration of blocks on the page*/
html, body {height: 100%;}
#main {min-height: 100%;height: auto !important;height: 100%;margin-bottom: -141px;clear:both;}
/*#header{height:100px;}*/
#distance{height: 180px;clear: both;}
.footer{background-color: #F5F5F5; border-top: 1px solid #E5E5E5; padding: 30px 0; text-align: center;clear: both;}
body{min-width:660px;}
/*All decorations*/
.table p{padding:5px 0;margin:0;}
.table th{background-color: #F5F5F5;}
.footer p {color: #777777; margin-bottom: 0;}
.affix{position:fixed;width:220px;top:10px;}
.affix .typeahead{left:0!important;}
.affix-top .typeahead{left:15px!important;}
#answer{margin-top:10px;}
#title{
    margin-top: 50px;
    max-width: 189px;
    min-width: 182px;
    background-color: #F5F5F5;
    border: 1px solid #E5E5E5;
    border-radius: 15px 15px 15px 15px;
    padding: 15px 10px;
    display:none;
	}
#title h4{
    font-size: 18px;
    }
#description {
    background-color: #F5F5F5;
    border: 1px solid #E5E5E5;
    border-radius: 15px 15px 15px 15px;
    color: #5F5F5F;
    font-size: 16px;
    line-height: 25px;
    padding: 15px;
}
.hero-unit {
    color: #5F5F5F;
    font-size: 18px;
    line-height: 30px;
    /*margin-bottom: 10px;*/
    padding: 0 60px;
    background-color: #fff;
    border-radius: 0;
    height:150px;
}
@media(max-width:767px){
   .affix  {
     position: fixed;
     width: auto;
     top: 10px;
     left: 15px;
    }
}